<p id="notice"><%= notice %></p>
<br>
<div class="col-md-offset-3">
  <div class="input-group user-info col-xs-6" >
    <span class="input-group-addon"><%= t "users.name"%></span>
    <span class="form-control"><%= @user.name %></span>
  </div>

  <div class="input-group user-info col-xs-6">
    <span class="input-group-addon"><%= t "users.email" %></span>
    <span class="form-control"><%= @user.email %></span>
  </div>

  <div class="input-group user-info col-xs-6">
    <span class="input-group-addon"><%= t "users.phone" %></span>
    <span class="form-control"><%= @user.phone %></span>
  </div>

  <div class="input-group user-info col-xs-6">
    <span class="input-group-addon"><%= t "users.address" %></span>
    <span class="form-control"><%= @user.address %></span>
  </div>

  <div class="input-group user-info col-xs-6">
   <span class="input-group-addon"></span>

    <%= link_to t("users.edit1"), edit_user_registration_path, class: "btn btn-primary"%>
    <%= link_to t("users.edit1"), edit_user_path(@user.id), class: "btn btn-primary"%>
  <%= link_to t("users.back"), :back, class: "btn btn-primary" %>
</div>
